@import "tailwindcss";

body {
  margin: 0px;
  background-color: #efeadf;
}

li {
  padding: 15px;
  transition: all 0.5s ease;
}

li:hover {
  color: #ff6041;
}

.bg {
  background-image: url("/bg.jpg");
}

.hero-bg {
  background-image: url("/hero-bg.jpg");
}

.testimonial-bg {
  background-image: url("/testimonial-bg.png");
}

.clip-path-triangle {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 10% 90%, 0 50%, 0 0);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

.edge-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.serviceSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: black;
  opacity: 1;
  transition: all 0.3s ease;
}

.serviceSwiper .swiper-pagination-bullet-active {
  background: #ff6041;
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff6041;
}

.portfolioSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 1;
  transition: all 0.3s ease;
}

.portfolioSwiper .swiper-pagination-bullet-active {
  background: #ff6041;
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff6041;
}
