@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name */

.exo-2-500 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.exo-2-500-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #efeadf;
  /* font-family: "exo-2-500"; */
}

li {
  padding: 15px;
  transition: all 0.5s ease;
}

li:hover {
  color: #ff6041;
}

/* .bg {
  background-image: url("/bg.jpg");
}

.hero-bg {
  background-image: url("/hero-bg.jpg");
}

.testimonial-bg {
  background-image: url("/testimonial-bg.png");
} */

.clip-path-triangle {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 10% 90%, 0 50%, 0 0);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

.edge-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.serviceSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: black;
  opacity: 1;
  transition: all 0.3s ease;
}

.serviceSwiper .swiper-pagination-bullet-active {
  background: #ff6041;
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff6041;
}

.portfolioSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 1;
  transition: all 0.3s ease;
}

.portfolioSwiper .swiper-pagination-bullet-active {
  background: #ff6041;
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff6041;
}

.testimonialSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 1;
  transition: all 0.3s ease;
}

.testimonialSwiper .swiper-pagination-bullet-active {
  background: #ff6041;
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff6041;
}
